[MESSAGES CONTROL]
enable=all
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-many-arguments,
    too-many-locals,
    too-many-instance-attributes,
    too-few-public-methods,
    consider-using-with,
    import-error

[FORMAT]
max-line-length=119
